# dependências
node_modules
.bun

# build / output
dist
build
.out

# cache
.cache
*.log

# ambiente
.env
.env.local
.env.*.local

# sistema
.DS_Store
Thumbs.db

# editor
.vscode
.idea

# testes
coverage
