@import "tailwindcss";
@layer base {
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
  }
}
